::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;

  ::-webkit-scrollbar-thumb:hover {
    background: #757575;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
